# Xcode
#
## User settings
xcuserdata/
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
.build/
.swiftpm/
.netrc
Package.resolved

# macOS
#
.DS_Store
.AppleDouble
.LSOverride
._*

# Logs and databases
*.log

# Build products
build/
DerivedData/

# Instrument files
*.xcsettings